<div class="table-container mat-table-responsive">
    <h1>Lista de Pruebas {{tiempoRestante}}</h1>
    <div class="demo-button-container">
        <button mat-raised-button class="demo-button" (click)="registrar()">
            Agregar Prueba
        </button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef class="centered">Nombre</th>
            <td mat-cell *matCellDef="let elemento" class="centered">{{ elemento.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="Correo">
            <th mat-header-cell *matHeaderCellDef class="centered">Correo</th>
            <td mat-cell *matCellDef="let data" class="centered">{{ data.correo }}</td>
        </ng-container>

        <ng-container matColumnDef="Clave">
            <th mat-header-cell *matHeaderCellDef class="centered">Clave</th>
            <td mat-cell *matCellDef="let elemento" class="centered">{{ elemento.clave }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre_dispositivo">
            <th mat-header-cell *matHeaderCellDef class="centered">Nombre dispositivo</th>
            <td mat-cell *matCellDef="let elemento" class="centered">{{ elemento.nombre_dispositivo }}</td>
        </ng-container>

        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef class="centered">URL</th>
            <td mat-cell *matCellDef="let elemento" class="centered">{{ elemento.url }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef class="centered">Fecha</th>
            <td mat-cell *matCellDef="let elemento" class="centered">{{ elemento.fecha | date: 'EEEE, dd/MM/yyyy' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef class="centered">Estado</th>
            <td mat-cell *matCellDef="let elemento" class="centered">{{ elemento.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion_estado">
            <th mat-header-cell *matHeaderCellDef class="centered">Descripcion Estado</th>
            <td mat-cell *matCellDef="let elemento" class="centered">{{ elemento.descripcion_estado }}</td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef class="centered">Acciones</th>
            <td mat-cell *matCellDef="let elemento">
                <a mat-raised-button color="primary" [href]="red_url+elemento.id+'/paso01/'" class="boton">Paso 01</a>
                <a mat-raised-button color="accent" [href]="red_url+elemento.id+'/paso02/'" class="boton">Paso 02</a>
                <a mat-raised-button color="warn" [href]="red_url+elemento.id+'/paso03/'" class="boton">Paso 03</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="paginator" fxLayout="row"
        fxLayout.xs="column" fxLayoutAlign.xs="center" [length]="dataSource.length"></mat-paginator>


</div>