<div class="table-container mat-table-responsive">
    <h1>Lista de elementos</h1>

    <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">

        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let elemento">{{ elemento.nombre }}</td>
        </ng-container>
        
        <ng-container matColumnDef="Correo">
            <th mat-header-cell *matHeaderCellDef>Correo</th>
            <td mat-cell *matCellDef="let data">{{ data.correo }}</td>
        </ng-container>

        <ng-container matColumnDef="Clave">
            <th mat-header-cell *matHeaderCellDef>Clave</th>
            <td mat-cell *matCellDef="let elemento">{{ elemento.clave }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre_dispositivo">
            <th mat-header-cell *matHeaderCellDef>Nombre dispositivo</th>
            <td mat-cell *matCellDef="let elemento">{{ elemento.nombre_dispositivo }}</td>
        </ng-container>

        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef>URL</th>
            <td mat-cell *matCellDef="let elemento">{{ elemento.url }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let elemento">{{ elemento.fecha | date: 'EEEE, dd/MM/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let elemento">{{ elemento.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion_estado">
            <th mat-header-cell *matHeaderCellDef>Descripcion Estado</th>
            <td mat-cell *matCellDef="let elemento">{{ elemento.descripcion_estado }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="paginator" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center" [length]="dataSource.length"></mat-paginator>


</div>