<div class="edit-container">

    <mat-card>
        <mat-card-title>Formulario</mat-card-title>
        <mat-card-content>
            <h1>Editar elemento</h1>

            <form (ngSubmit)="guardarCambios()">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="elemento.nombre" name="nombre" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Correo</mat-label>
                    <input matInput [(ngModel)]="elemento.correo" name="correo" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Clave</mat-label>
                    <input matInput [(ngModel)]="elemento.clave" name="clave" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Nombre Dispositivo</mat-label>
                    <input matInput [(ngModel)]="elemento.nombre_dispositivo" name="nombre_dispositivo" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>URL</mat-label>
                    <input matInput [(ngModel)]="elemento.url" name="url" required>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit">Guardar cambios</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>