h1 {
    color: #8A2BE2;
    font-family: 'Arial', sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  mat-form-field {
    margin-bottom: 16px;
  }
  
  button[type="submit"] {
    align-self: flex-end;
    background-color: #8A2BE2;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #6C1A9E;
  }

  .edit-container {
    width: 80%;
    margin: 0 auto;
  }

  /* Estilos para dispositivos de pantalla pequeña */
@media screen and (max-width: 600px) {
    form {
      max-width: 100%;
      padding: 16px;
    }
  }
  
  /* Estilos para dispositivos de pantalla mediana y grande */
  @media screen and (min-width: 601px) {
    form {
      max-width: 400px;
      margin: 0 auto;
    }
  }