
<div class="card-container" style="margin-bottom: 50px;">
    <mat-card>
      <div class="logo-container">
        <img [src]="basePath + 'cypress.svg'" alt="Logo de la tecnología">
      </div>
      <mat-card-content>
        <h2 style="text-align: center;">Cypress</h2>
      </mat-card-content>
    </mat-card>

    <mat-card>
        <div class="logo-container">
          <img [src]="basePath + 'appium.svg'" alt="Logo de la tecnología">
        </div>
        <mat-card-content>
          <h2 style="text-align: center;">Appium</h2>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <div class="logo-container">
          <img [src]="basePath + 'cucumber.svg'" alt="Logo de la tecnología">
        </div>
        <mat-card-content>
          <h2 style="text-align: center;">Cucumber</h2>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <div class="logo-container">
          <img [src]="basePath + 'selenium.svg'"alt="Logo de la tecnología">
        </div>
        <mat-card-content>
          <h2 style="text-align: center;">Selenium</h2>
        </mat-card-content>
    </mat-card>     
    
    <mat-card>
        <div class="logo-container">
          <img [src]="basePath + 'browserstack.svg'" alt="Logo de la tecnología">
        </div>
        <mat-card-content>
          <h2 style="text-align: center;">Browser Stack</h2>
        </mat-card-content>
    </mat-card> 

    <mat-card>
        <div class="logo-container">
          <img [src]="basePath + 'angular.svg'" alt="Logo de la tecnología">
        </div>
        <mat-card-content>
          <h2 style="text-align: center;">Angular</h2>
        </mat-card-content>
    </mat-card>

    <!-- <mat-card>
        <div class="logo-container">
          <img src="../assets/nodejs.svg" alt="Logo de la tecnología">
        </div>
        <mat-card-content>
          <h2 style="text-align: center;">Node JS</h2>
        </mat-card-content>
    </mat-card> -->

    <mat-card>
        <div class="logo-container">
          <img [src]="basePath + 'shellscript.svg'" alt="Logo de la tecnología">
        </div>
        <mat-card-content>
          <h2 style="text-align: center;">Shell Scripting</h2>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <div class="logo-container">
          <img [src]="basePath + 'aws.svg'" alt="Logo de la tecnología">
        </div>
        <mat-card-content>
          <h2 style="text-align: center;">AWS</h2>
        </mat-card-content>
    </mat-card>
</div>
